<!DOCTYPE html>
<html>
<head>
	<title>mmpccs</title>
	<meta charset="utf-8">
	<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	 <div class="main">
		<div class="login-form">
			<h1>Mmpc Sdk Crash Stack Platforms</h1>
			<h2>fill crash info and build time to the form</h2>
					<div class="head">
						<img src="/static/images/user.png" alt=""/>
					</div>
				<form action="" method="post">
						Crash Log
						<div class="crash-log">
							<textarea name="crash_log" type="text"></textarea>
						</div>
						SDK Build Date, Like 20150101
						<input name="build_date" type="text">
						<div class="submit">
							<input type="submit"  value="create stack" >
						</div>	
	 			<div class="copy-right">
					<p>CopyRight &copy 2015 by TV Group. All rights reserved.</p>	
				</div>
				</form>
		</div>
	</div>
</body>
</html>
